<!-- 헤더 include -->
<%- include ('partials/header.ejs') %>

<!-- ======= Sidebar ======= -->
<%- include ('partials/sidebar.ejs') %>

<main id="main" class="main">

    <!-- jQuery 및 jQuery UI 스크립트를 포함 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!-- jQuery UI CSS를 포함 -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <div class="pagetitle">
        <h1>동아리 관리</h1>
    </div>

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <img src="assets/img/hs-logo.png" alt="Profile" class="rounded-circle">
                        <h2>동아리명 : <%= club.club_name%> </h2>
                        <!--소속은 고정이 아님. 동아리장이 컴공이라고해서 
                        해당 동아리가 컴공 소속이지 않다는 뜻!-->
                        <h3>소속 : <%= club.affilition%></h3>
                        <div class="social-links mt-2">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">인원 현황 및 관리</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">모집 공고</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">공지 사항</button>
                            </li>

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <div class="col-md-4" style="width: 100%;">
                                    <table class="table" id="member-table" style="width: 100%; ">
                                        <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">이름</th>
                                            <th scope="col" id="student-id">학번</th>
                                            <th scope="col">학과</th>
                                            <th scope="col" id="ph-number">전화번호</th>
                                            <th scope="col">직위</th>
                                            <th scope="col">관리 권한</th>
                                        </tr>
                                        </thead>
                                        <tbody id="member-table">
                                        <% let count = 1; %>
                                        <% members.forEach(member => { %>
                                            <tr>
                                                <th scope="row"><%= count %></th>
                                                <td id="student-name"><% if (member.user_id) { %>
                                                        <i class="bi bi-circle" id="judgment-user" style="font-size: 6px;
                                                border-radius: 50%; margin-right: 8px; background-color: aquamarine;"></i>
                                                    <% } else { %>
                                                        <i class="bi bi-circle" id="judgment-user" style="font-size: 6px;
                                                border-radius: 50%; margin-right: 8px; background-color:slategrey;"></i>
                                                    <% } %><%= member.member_name %></td>
                                                <td id="student-id-list"><%= member.member_student_id %></td>
                                                <td id="student-department"><%= member.member_department %></td>
                                                <td id="ph-number-list"><%= member.member_ph_number%></td>
                                                <td>
                                                    <span id="position_text_<%= count %>"><%= member.position %></span>
                                                    <input type="text" id="position_input_<%= count %>" style="display: none; width: 60px;" placeholder="<%= member.position %>">
                                                </td>
                                                <td contenteditable="false">
                                                    <input type="checkbox" id="adminCheckbox_<%= count %>" <% if (member.admin_ac) { %>checked="checked"<% } %> disabled="disabled">
                                                    <button class="btn btn-primary" id="hidden-btn" style="display: none; margin-left: 30px;">x</button>
                                                </td>
                                            </tr>
                                            <% count++; %>
                                        <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                <div id="cards-container" class="row">
                                    <!-- 카드가 동적으로 추가될 위치 -->
                                    <div class="container" id="recruitPostsContainer">
                                    </div>
                                </div>
                                <nav aria-label="Page navigation">
                                    <ul id="pagination" class="pagination">
                                        <!-- 페이지네이션 버튼이 동적으로 추가될 위치 -->
                                    </ul>
                                </nav>
                            </div>

                            <div class="tab-pane fade pt-3" id="profile-settings">
                                <div class="container">
                                    <!-- 탭 버튼들 -->
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-bs-toggle="tab"
                                                href="#pending">대기중</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#approved">승인됨</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#rejected">거절됨</a>
                                        </li>
                                    </ul>

                                    <!-- 탭 내용 -->
                                    <div class="tab-content">
                                        <div id="pending" class="container tab-pane active"><br>
                                            <!-- 대기중 테이블 -->
                                            <table class="table table-hover club-application-table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">신청자</th>
                                                        <th scope="col">성별</th>
                                                        <th scope="col">신청 상태</th>
                                                        <th scope="col">신청일</th>
                                                        <th scope="col">처리일</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- 서버에서 대기중인 신청 데이터 가져와서 표시 -->
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="approved" class="container tab-pane fade"><br>
                                            <!-- 승인됨 테이블 -->
                                            <table class="table table-hover club-application-table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">신청자</th>
                                                        <th scope="col">성별</th>
                                                        <th scope="col">신청 상태</th>
                                                        <th scope="col">신청일</th>
                                                        <th scope="col">처리일</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- 서버에서 대기중인 신청 데이터 가져와서 표시 -->
                                                </tbody>
                                            </table>
                                            <!-- 테이블 내용 동일하게 구성하여 서버에서 승인된 신청 데이터 가져와서 표시 -->
                                        </div>
                                        <div id="rejected" class="container tab-pane fade"><br>
                                            <!-- 거절됨 테이블 -->
                                            <table class="table table-hover club-application-table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">신청자</th>
                                                        <th scope="col">성별</th>
                                                        <th scope="col">신청 상태</th>
                                                        <th scope="col">신청일</th>
                                                        <th scope="col">처리일</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- 서버에서 대기중인 신청 데이터 가져와서 표시 -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade pt-3" id="profile-change-password">
                                <div class="container">
                                    <div id="notice-cards-container" class="row">
                                        <!-- 카드가 동적으로 추가될 위치 -->
                                    </div>
                                    <nav aria-label="Page navigation">
                                        <ul id="notice-pagination" class="pagination">
                                            <!-- 페이지네이션 버튼이 동적으로 추가될 위치 -->
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div><!-- End Bordered Tabs -->
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- 동아리 가입 신청 디테일 모달 -->
    <div class="modal fade" id="clubModal" tabindex="-1" aria-labelledby="clubModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="clubModalLabel">동아리 가입 신청 정보</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-md-6 mb-2">
                            <strong>신청 고유 번호:</strong> <span id="modalApplicationID">-</span>
                        </div>
                        <div class="col-md-6 mb-2">
                            <strong>신청 상태:</strong> <span id="modalApplicationStatus" class="badge bg-primary">-</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-2"><strong>유저 ID:</strong> <span id="modalUserID">-</span></div>
                            <div class="mb-2"><strong>이름:</strong> <span id="modalUserName">-</span></div>
                            <div class="mb-2"><strong>학번:</strong> <span id="modalStudentID">-</span></div>
                            <div class="mb-2"><strong>학과:</strong> <span id="modalDepartment">-</span></div>
                            <div class="mb-2"><strong>핸드폰번호:</strong> <span id="modalPhone">-</span></div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-2"><strong>성별:</strong> <span id="modalGender">-</span></div>
                            <div class="mb-2"><strong>지역:</strong> <span id="modalRegion">-</span></div>
                            <div class="mb-2"><strong>신청일:</strong> <span id="modalApplicationDate">-</span></div>
                            <div class="mb-2"><strong>처리일:</strong> <span id="modalApplicationProcessedDate">-</span></div>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <strong>자기소개:</strong>
                        <div class="card-text mt-3" id="modalSelfIntroduction">-</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="approveButton" type="button" class="btn btn-success" data-bs-dismiss="modal">승인</button>
                    <button id="rejectButton" type="button" class="btn btn-danger" data-bs-dismiss="modal">거절</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 공지사항 작성 모달 -->
    <div class="modal fade" id="writeNoticeModal" tabindex="-1" aria-labelledby="writeNoticeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="writeNoticeModalLabel">공지사항 작성
                        <span class="info-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="해당 공지사항은 동아리 대표만 작성 가능하며, 권한자는 수정을 할 수 있습니다!">
                        <i class="bi bi-question-circle"></i>
                        </span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="noticeForm">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="noticeTitle" class="form-label">제목</label>
                            <input type="text" class="form-control" id="noticeTitle" name="title" required
                                aria-describedby="titleHelp" placeholder="공지사항의 제목을 입력하세요">
                        </div>
                        <div class="mb-3">
                            <label for="noticeContent" class="form-label">내용</label>
                            <textarea class="form-control" id="noticeContent" name="content" rows="8" required
                                placeholder="공지사항의 상세 내용을 입력하세요"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        <button type="submit" class="btn btn-primary" id="noticeSaveBtn">저장하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 공지사항 디테일 모달 -->
    <div class="modal fade" id="noticeDetailModal" tabindex="-1" aria-labelledby="noticeDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title" id="noticeDetailModalLabel">공지사항 상세 정보</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <strong>제목:</strong> <span id="detailNoticeTitle"></span>
                    </div>
                    <div class="mb-3">
                        <strong>작성자:</strong> <span id="detailNoticeAuthor"></span>
                    </div>
                    <div class="mb-3">
                        <strong>작성 날짜:</strong> <span id="detailNoticeDate"></span>
                    </div>
                    <div class="mb-3">
                        <strong>내용:</strong>
                        <div id="detailNoticeContent"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 공지사항 수정 모달 -->
    <div class="modal fade" id="editNoticeModal" tabindex="-1" aria-labelledby="editNoticeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editNoticeModalLabel">공지 사항 수정
                        <span class="info-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="수정된 공지사항은 모든 사용자에게 반영됩니다. 주의해서 수정하세요!">
                        <i class="bi bi-question-circle"></i>
                        </span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="editNoticeForm">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="editNoticeTitle" class="form-label">제목</label>
                            <input type="text" class="form-control" id="editNoticeTitle" name="title" required
                                aria-describedby="titleHelp" placeholder="공지사항의 제목을 입력하세요">
                        </div>
                        <div class="mb-3">
                            <label for="editNoticeContent" class="form-label">내용</label>
                            <textarea class="form-control" id="editNoticeContent" name="content" rows="8" required
                                placeholder="공지사항의 상세 내용을 입력하세요"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        <button type="submit" class="btn btn-primary" id="editNoticeSaveBtn">저장하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 공지사항 삭제 확인 모달 -->
    <div class="modal fade" id="deleteNoticeModal" tabindex="-1" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">공지사항 삭제 확인</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                정말로 이 공지사항을 삭제하시겠습니까? 이 작업은 되돌릴 수 없습니다.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button id = "realDeleteBtn" type="button" class="btn btn-danger">삭제</button>
            </div>
        </div>
    </div>
</div>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<%- include ('partials/footer.ejs') %>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/chart.js/chart.umd.js"></script>
<script src="assets/vendor/echarts/echarts.min.js"></script>
<script src="assets/vendor/quill/quill.min.js"></script>
<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="assets/vendor/tinymce/tinymce.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

<!-- <script>
    document.getElementById('write-post').addEventListener('click', function() {
        window.location.href = '/write-post';
    });
</script> -->

<!--Client JS File-->
<script defer src="../assets/js/pagesAdmin/admin_edit.js"></script>
<script defer src="../assets/js/pagesAdmin/admin_club_applications.js"></script>
<script defer src="../assets/js/pagesAdmin/club_recruit_tab.js"></script>
<script defer src="../assets/js/pagesAdmin/club_notice_tab.js"></script>

</body>

<style>
    td {
        padding:5px;
    }

    #button-container .btn .btn-primary{
        float: left;
    }

    .hidden-btn {
        display: none;
    }
</style>

</ejs>