<!-- 헤더 include -->
<%- include ('partials/header.ejs') %>

  <!-- ======= Sidebar ======= -->
  <%- include ('partials/sidebar.ejs') %>

    <main id="main" class="main">

      <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section class="section profile">
        <div class="row">
          <div class="col-xl-4">

            <div class="card">
              <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                <img src="./../assets/img/default-profile-img.png" alt="Profile" class="rounded-circle">
                <h2>
                  <%= userData.user_name %>
                </h2>
                <h3>
                  <%= userData.user_department %>
                </h3>
                <div class="social-links mt-2">
                  <a href="" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="" class="facebook"><i class="bi bi-facebook"></i></a>
                  <a href="" class="instagram"><i class="bi bi-instagram"></i></a>
                  <span class="info-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="프로필 편집에서 링크를 등록하면 해당 페이지로 이동하는 아이콘이 활성화 됩니다!">
                    <i class="bi bi-question-circle"></i>
                  </span>
                </div>
              </div>
            </div>

          </div>

          <div class="col-xl-8">

            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered">

                  <li class="nav-item">
                    <button class="nav-link active" data-bs-toggle="tab"
                      data-bs-target="#profile-overview">미리보기</button>
                  </li>

                  <li class="nav-item">
                    <button id="profile_edit" class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">프로필
                      편집</button>
                  </li>

                  <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">비밀번호
                      변경</button>
                  </li>

                  <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#delete-account-tab">회원탈퇴</button>
                  </li>

                </ul>
                <div class="tab-content pt-2">

                  <div class="tab-pane fade show active profile-overview" id="profile-overview">
                    <h5 class="card-title">프로필 메세지</h5>
                    <p id="viewAbout" class="small fst-italic"></p>

                    <h5 class="card-title">내 프로필</h5>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">
                        이름
                        <span class="info-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                          title="회원가입했을 때 정보로 자동으로 들어갑니다.">
                          <i class="bi bi-question-circle"></i>
                        </span>
                      </div>
                      <div class="col-lg-9 col-md-8">
                        <%= userData.user_name %>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">학과
                        <span class="info-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                          title="회원가입했을 때 정보로 자동으로 들어갑니다.">
                          <i class="bi bi-question-circle"></i>
                        </span>
                      </div>
                      <div class="col-lg-9 col-md-8">
                        <%= userData.user_department %>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">학번
                        <span class="info-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                          title="회원가입했을 때 정보로 자동으로 들어갑니다.">
                          <i class="bi bi-question-circle"></i>
                        </span>
                      </div>
                      <div class="col-lg-9 col-md-8">
                        <%= userData.user_studentId %>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Email
                        <span class="info-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                          title="회원가입했을 때 정보로 자동으로 들어갑니다.">
                          <i class="bi bi-question-circle"></i>
                        </span>
                      </div>
                      <div class="col-lg-9 col-md-8">
                        <%= userData.user_id %>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">가입중인 동아리
                      </div>
                      <div id="joinedClubs" class="col-lg-9 col-md-8"></div>
                    </div>

                  </div>

                  <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                    <!-- Profile Edit Form -->
                    <form method="post" id="profileEditForm">
                      <div class="row mb-3">
                        <label for="profileImageInput" class="col-md-4 col-lg-3 col-form-label">프로필 사진</label>
                        <div class="col-md-8 col-lg-9">
                          <img src="./../assets/img/default-profile-img.png" alt="Profile">
                          <div class="pt-2">
                            <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i
                                class="bi bi-upload"></i></a>
                            <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i
                                class="bi bi-trash"></i></a>
                          </div>
                        </div>
                      </div>

                      <!-- <div class="row mb-3">
                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">이름</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="fullName" type="text" class="form-control" id="fullName" placeholder="이름">
                        </div>
                      </div> -->

                      <div class="row mb-3">
                        <label for="about" class="col-md-4 col-lg-3 col-form-label">프로필 메세지</label>
                        <div class="col-md-8 col-lg-9">
                          <textarea name="about" class="form-control" id="about" style="height: 100px"
                            placeholder="프로필 메세지"></textarea>
                        </div>
                      </div>

                      <!-- <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">Company</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="company" type="text" class="form-control" id="company" value="Lueilwitz, Wisoky and Leuschke">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Job</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="job" type="text" class="form-control" id="Job" value="Web Designer">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Country" class="col-md-4 col-lg-3 col-form-label">Country</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="country" type="text" class="form-control" id="Country" value="USA">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="address" type="text" class="form-control" id="Address" value="A108 Adam Street, New York, NY 535022">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="phone" type="text" class="form-control" id="Phone" value="(436) 486-3538 x29071">
                      </div>
                    </div> -->

                      <!-- <div class="row mb-3">
                        <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="email" type="email" class="form-control" id="Email" placeholder="이메일">
                        </div>
                      </div> -->

                      <div id="clubInputContainer">
                        <!-- 동아리 입력 필드가 동적으로 추가될 부분 -->
                        <label for="clubName" class="col-md-4 col-lg-3 col-form-label">가입중인 동아리
                          <span class="info-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="사이트에 등록안된 동아리를 포함해서 직접 프로필에 적어주세요!">
                            <i class="bi bi-question-circle"></i>
                          </span>
                        </label>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" id="clubName" name="clubs[]" placeholder="동아리명">
                          <button id="addClubBtn" class="btn btn-outline-secondary add-club-btn"
                            type="button">+</button>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">트위터 프로필</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="twitter" type="text" class="form-control" id="Twitter" placeholder="트위터 프로필 링크">
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">페이스북 프로필</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="facebook" type="text" class="form-control" id="Facebook"
                            placeholder="페이스북 프로필 링크">
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">인스타그램 프로필</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="instagram" type="text" class="form-control" id="Instagram"
                            placeholder="인스타그램 프로필 링크">
                        </div>
                      </div>

                      <div class="text-center">
                        <button id="profileSaveBtn" type="submit" class="btn btn-primary">프로필 저장</button>
                      </div>
                    </form><!-- End Profile Edit Form -->
                  </div>

                  <div class="tab-pane fade pt-3" id="profile-change-password">
                    <!-- Change Password Form -->
                    <form method="post">

                      <div class="row mb-3">
                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">현재 비밀번호</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="password" type="password" class="form-control" id="currentPassword"
                            oninput="trackPasswordInput()">
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">새 비밀번호</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="newpassword" type="password" class="form-control" id="newPassword">
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">비밀번호 재확인</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="renewpassword" type="password" class="form-control" id="renewPassword"
                            oninput="validatePassword()">
                          <div id="passwordMismatch" class="invalid-feedback">비밀번호가 일치하지 않습니다!</div>
                        </div>
                      </div>

                      <div class="text-center">
                        <button id="changePwBtn" type="button" class="btn btn-primary" disabled>비밀번호 변경</button>
                      </div>
                    </form><!-- End Change Password Form -->
                  </div>
                  
                  <!-- 회원탈퇴 -->
                  <div class="tab-pane fade" id="delete-account-tab">
                    <h5 class="card-title"><회원 탈퇴></h5>
                    <p>정말로 회원 탈퇴를 하시겠습니까? 탈퇴 후에는 복구할 수 없습니다.</p>
                    
                    <!-- 비밀번호 확인 필드 -->
                    <form id="deleteAccountForm">
                      <div class="mb-3">
                        <label for="passwordConfirmation" class="form-label">비밀번호를 입력하세요</label>
                        <input type="password" class="form-control" id="passwordConfirmation" name="passwordConfirmation" placeholder="비밀번호" required>
                      </div>
                      
                      <!-- 탈퇴 확인 체크박스 -->
                      <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="confirmDeleteCheckbox" required>
                        <label class="form-check-label" for="confirmDeleteCheckbox">위 내용을 확인하였으며, 탈퇴를 진행합니다.</label>
                      </div>
                      
                      <!-- 안내 메시지 -->
                      <p class="text-danger">탈퇴한 후에는 복구할 수 없습니다. 정말로 탈퇴하시겠습니까?</p>
                      <div class="text-center">
                        <button type="submit" id="deleteAccountBtn" class="btn btn-danger">회원 탈퇴하기</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
        </div>
      </section>

      <!-- 회원탈퇴 확인 모달 -->
      <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmModalLabel">회원 탈퇴 확인</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>회원 탈퇴를 진행하시려면 아래 입력창에 "회원탈퇴"라는 단어를 입력하세요.</p>
              <input type="text" class="form-control mb-3" id="confirmInput" placeholder="회원탈퇴" required>
              <p class="text-danger" id="confirmError" style="display: none;">입력된 단어가 일치하지 않습니다.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
              <button type="button" id="confirmBtn" class="btn btn-danger" disabled>확인</button>
            </div>
          </div>
        </div>
      </div>
    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <%- include ('partials/footer.ejs') %>
      <!-- End Footer -->

      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
          class="bi bi-arrow-up-short"></i></a>

      <!-- Vendor JS Files -->
      <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
      <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="assets/vendor/chart.js/chart.umd.js"></script>
      <script src="assets/vendor/echarts/echarts.min.js"></script>
      <script src="assets/vendor/quill/quill.min.js"></script>
      <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
      <script src="assets/vendor/tinymce/tinymce.min.js"></script>
      <script src="assets/vendor/php-email-form/validate.js"></script>

      <!-- Template Main JS File -->
      <script src="assets/js/main.js"></script>

      <!--Client JS File-->
      <script defer src="../assets/js/profile/profile_view.js"></script>
      <script defer src="../assets/js/profile/profile_edit.js"></script>
      <script defer src="../assets/js/profile/profile_change_pw.js"></script>
      <script defer src="../assets/js/profile/profile_delete_account.js"></script>

      </body>

      </ejs>